* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    overflow-y: hidden;
    display: flex;
    border-radius: 5px;
    gap: 1rem;
}

.container img {
    width: 30%;
    aspect-ratio: 9 / 16;
    object-fit: cover;
    border-radius: 5px;
}
